<!-- views/layouts/layout.ejs -->
<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/header') %>
    <%- include('../partials/mobile-drawer') %>

    <main class="container">
      <%- include('../partials/flash') %> <%- body %>
    </main>

    <%- include('../partials/footer') %>

    <div id="gpt4all-root"></div>

    <script src="/js/gpt4all.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/location-picker.js"></script>
    <script src="/js/chat.js"></script>
    <script src="/js/admin-orders.js"></script>
    <script src="/js/admin-food-orders.js"></script>
    <script src="/js/special-order.js"></script>
    <script src="/js/client-account.js"></script>
    <script src="/js/rider-register.js"></script>
  </body>
</html>
